{% extends 'base.html' %}


<!--Button on navbar-->
{% block btn-nav %}
  <a href="{% url 'logout' %}" class="btn btn-outline-primary btn-sm border-light text-light" id="btn-nav">Logout</a>
{% endblock btn-nav %}

<!--Title on navbar-->
{% block nav-title %}
     <i class="fas fa-lock" aria-hidden="true"></i>&nbsp; Bevics Dashboard 
{% endblock nav-title %}


{% block content %}
 
    <div class="container">

      <br><br>
      <!--Add button and get username-->
      <div class="d-flex justify-content-between">
        <a href="{% url 'add_member' %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i> &nbsp; Add Member</a>
        <span>
          Welcome : <strong><span class="text-primary">{{ user.get_username }}</span></strong>

        </span> 
      </div>

      <!--Input search + button + resert button-->

      <form>
        <div class="input-group input-group-sm mb-3 mt-4">
          <input name="q" type="text" class="form-control" placeholder="Search for ..." value="{{ request.GET.q }}">
          <button class ="btn btn-secondary"><i class="fas fa-search"></i></button>
          <a href="{% url 'backend' %}" class="btn btn-dark" style="margin-left: 2px;"><i class="fas fa-sync-alt"></i></a>
        </div>
      </form>

      <!--Table-->
      <center>
        <table class="table table-bordered table-sm mt-4" style="text-align: center; font-size: 14px;">
          <thead class="table-primary">
            <tr>
              <th>Name </th>
              <th>Username</th>
              <th>Phone</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Email</th>
              <th>Location</th>
              <th>Bio</th> 
              <th>Created At</th>
              <th colspan="2">Action</th>
            </tr>
          </thead>
          <!--Data from backend-->
          {% for member in members%}
          <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.username }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.age }}</td>
            <td>{{ member.gender }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.location }}</td>
            <td>{{ member.bio }}</td>
            <td>{{ member.created_at | date:'m/d/Y (H:i)' }}</td> 
            <td>
              <a class="btn btn-success" href="/member/{{ member.id }}" title="Edit Member">
                <i class="fas fa-pen"></i>
              </a>
            </td>
            <td>
              <a class="btn btn-danger" href="/delete_member/{{ member.id }}" title="Delete Member">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          
          </tr>
          {% endfor %}
        </table>
      </center>
      <!--Pagination-->

      <nav class="mt-4">

        {% if members.has_other_pages %}

        <ul class="pagination justify-content-right">
          {% if members.has_other_previous %}
          <a href="?page=1" class="btn btn-outline-primary mb-4" style="width: 60px; border-radius:1px; border:1px solid #d3d3d3">First</a>
          <li class="page-item"><a class="page-link" href="?page={{ members.previours_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
          {% else %}
          <li class="page-item disabled"></li>
          {% endif %}
          
          {% for i in members.paginator.page_range %}  
              {% if members.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li> 
              {% endif %}
          {% endfor %}

          {% if members.has_next %}
           
          <li class="page-item"><a class="page-link" href="?page={{ members.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
          <a href="?page={{ members.paginator.num_pages }}" class="btn btn-outline-primary mb-4" style="width: 60px; border-radius:1px; border:1px solid #d3d3d3; border-left: none;">Last</a>
          {% else %}
          <li class="page-item disabled"></li>
          {% endif %}

        </ul>

        {% endif %}
      </nav>


    </div>

    {%  for message in messages %}

        {%  if message.tags == 'success' %}

            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>

                 var m = "{{ message }}";
                 swal("Successful !", m, "success")
            </script> 

        {% endif %}


    {% endfor %}

{% endblock content %}

