{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static "img/favicon.ico" %} rel="shortcut icon">
    <link href={% static "img/logo.ico" %} rel="shortcut icon">
    <link href={% static "css/style.css" %} rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8043f9733c.js" crossorigin="anonymous"></script>
    <title>Bevics System</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
                <div class="col-sm">
                    <a class="navbar-brand flex-grow-1" style="text-align: center;color:white;margin-left:25px">
                        {% block nav-title %}
                        <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; Bevics Master System
                        {% endblock nav-title %}
                        
                    </a>
                </div>
                <div class="col-sm">
                    {% block btn-nav %}
                    <a href="{% url 'backend' %}" class="btn btn-outline-info btn-sm border-light" id="btn-nav">Login</a>
                    {% endblock btn-nav %}
 
                </div>
                 
            </nav>
        </header>
        {% block content %}

        {% endblock content %}
    </div>
    <footer class="bg-primary text-center text-lg-start text-liht" id="footer"> 
        <div class="text-center p-3" style="color: white;background-color: rgba(0, 0, 0, 0.2);">
            Copyright &copy;{% now "Y%}<span>All rights reserved</span>| Made with 
            <i class="test-danger fas fa-heartbeat blank_me" style="font-size:15px;"></i>by
            <a href="#" target="_blank" style="color: red; text-decoration:none">Bevics</a>
        </div>
        
    </footer>
   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   <script src={% static "js/script.js" %}></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script>
    (function blank(){
        $('.blank_me').fadeOut(1000).fadeIn(1000, blank);
    })();
   </script>
</body>
</html>